<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>アニメ/マンガ - Authentification</title>
    <link rel="stylesheet" href="css/authentificate.css">
</head>

<body>
    <div class="authentificateContainer">
        <h2>BIENVENUE</h2>
        <form action="/connection" method="get">
            <div class="inputBox button">
                <input id="connection" type="Submit" value="Se connecter">
            </div>
        </form>
        <form action="/inscription" method="get">
            <div class="inputBox button">
                <input id="inscription" type="Submit" value="S'inscrire">
            </div>
        </form>
    </div>
</body>

</html>