<!DOCTYPE html>
<html lang="fr">

<head>
    {{#manga}}
    <meta charset="UTF-8">
    <title>アニメ/マンガ - Manga {{title}}</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/manga_details.css" />
</head>

<body>

    {{>header}}

    <form action="/manga/{{title}}" method="post">

        <div class="detailsContainer">

            <aside class="sideInfo">
                <div>
                    <img id="imgDetails" src="{{image_url}}" onerror="this.src = '/images/imgNotFound.png';">
                </div>
                <hr>
                <div>
                    <div id="scores">
                        <p>Score : {{score}}</p>
                    </div>
                    <div id="status">
                        <p>Statut : {{status}}</p>
                    </div>
                    <div id="authors">
                        <p>Auteur : {{authors}}</p>
                    </div>
                    <div id="serializations">
                        <p>Éditeur : {{serializations}}</p>
                    </div>
                    <button class={{value2}} type="submit"> {{value2}} </button>
                    <p style="margin: 15px 0 0 auto;">{{value}}</p>
                </div>
            </aside>

            <main class="mainMangaDetails">
                <div id="title">
                    <h1>{{title}}</h1>
                    <p>Titre en anglais : {{title_english}}</p>
                </div>

                <article class="infoManga">
                    <div id="chapters">
                        <p>Nombre de chapitre : {{chapters}}</p>
                    </div>
                    <div id="volumes">
                        <p>Nombre de Volumes : {{volumes}}</p>
                    </div>
                    <div id="genres">
                        <p>Genre : {{genres}}</p>
                    </div>
                    <div id="year">
                        <p>Année de sortie : {{year}}</p>
                    </div>
                </article>

                <article class="synopsisAnime">
                    <div id="synopsis">
                        <p>Synopsis : {{synopsis}}</p>
                    </div>
                </article>
            </main>
        </div>
    </form>
    {{/manga}}
</body>

</html>